@use "src/app/styles/sass" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}

body {
  font-family: 'Jura', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $bg-primary;
  color: $text-primary;
}

a {
  text-decoration: none;
}

code, button, input {
  font-family: 'Jura', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Jura;
  src: url("../../shared/fonts/Jura-Medium.ttf");
}

