$bg-primary: #12141c;
$bg-secondary: #1A1C23;

$text-secondary: #8C8988;
$text-primary: #DCD8D3;

$color-red: #FF2C47;
$color-orange: #CF7B5A;
$color-grey: #303238;

$btn-accent: #CF7B5A;
$btn-accent-hover: #e58059;
